.container1 {
    display: inline-block;
    margin-left: 600px;
    
}

h3 {
    font-size: 30px;
    text-align: center;
    color: #c56586;
    font-family: 'Lora', serif;
    font-weight: 300;
}

form {
    background-color: #fff;
    border-radius: 30px;
    width: 300px;
}


button {
    margin-top: 30px;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    color: #f00;
    text-align: center;
}
