.container1{
    background-color: #fff;
    display: inline-block;
    padding: 15px;
    border-radius: 30px;
    margin-left: 360px;
    margin-top: 50px;
   
  }

  .container1 th {
    font-size: 30px;
    padding-left: 40px;
    padding-right: 40px;
    border-left: solid 1px #000;
    border-right: solid 1px #000;
  }

  .container1 td {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border-bottom: solid 1px #000;
  }